@{
    ViewData["Title"] = "Index";
}

<h1>TP 01 - Index</h1>
<p>HOLA ESTA ES MI PRIMERA PAGINA WEB GRACIAS</p>

<a href="SelectPaquete.cshtml"><imput type="submit" value="Seleccióna un Paquete"></a>
